<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.termux.permission.RUN_COMMAND" />

    <queries>
        <package android:name="com.termux" />
        <intent>
            <action android:name="com.termux.RUN_COMMAND" />
        </intent>
    </queries>

    <application>
        <service
            android:name=".TermuxResultService"
            android:exported="false" />
    </application>
</manifest>
